.container {
  display: flex;
  flex-direction: column;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: none; /* Make sure it's not uppercase */
  letter-spacing: normal; /* Fix spacing */
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  text-transform: none; /* Make sure it's not uppercase */
  letter-spacing: normal; /* Fix spacing */
}

.custom-class {
  display: inline;
}
